

*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'Catamaran', sans-serif;
font-family: 'Marcellus', serif;
font-family: 'Poiret One', cursive;
text-decoration: none;
list-style: none;
scroll-behavior: smooth;


 }


 body {
    /* max-width: 100%; */
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(back.png);
    overflow-x: hidden;
	background-size: cover ;
	background-repeat: no-repeat;
} 



header{
    background: #f5f1f1;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 23px 15%;
    transition: all .38s ease;
}


.logo{
    font-size: 30px;
    font-weight: 700;
    color: rgb(186, 170, 139);
}

.logo span{
    color: rgb(209, 178, 40);
}


.navbar{
    display: flex;
    
}


.navbar a{
 color: rgb(218, 170, 27);
 font-size: 20px;
 font-weight: 800;
 padding: 5px 10px;
 margin: 2px 25px;
 border-bottom: 2px solid transparent;
 transition: all .38s ease;

    
}

.navbar li a:hover{

    border-bottom: 2px solid wheat;
    color: brown;

}


.h-icons{
    display: flex;
    align-items: center;
    padding: 10px 22px;
    background: rgb(195, 160, 31);
    border-radius: 5rem;
	font-weight: 600;
}


.h-icons a{

    font-size: 22px;
    color: rgb(248, 243, 243);
    margin-right:15px;
    margin-left: 8px;
}

#menu-icons{
    font-size: 32px;
    color: rgb(206, 186, 186);
    z-index: 10001;
    cursor: pointer;
    display: none;

}


@media  screen and (max-width:1000px ) {

	.navbar{
		display: none;
	}

	#menu-icons{

		display: block;
	}
}






.container{

	width: 100%;
	height: 100vh;
	background-image:url(back.png);
	background-position: center;
	background-size: cover;
	position: relative;
	
}


.form-box{
	width: 90%;
	max-width: 450px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: #fff;
	padding: 50px 60px 70px;
	text-align: center;
}

.form-box h1{
	font-size: 30px;
	margin-bottom: 60px;
	color: #3c00a0;
	position: relative;
}


.form-box h1::after{
	content: '';
	width: 30px;
	height: 4px;
	border-radius: 3px;
	background:#3c00a0;
	position: absolute;
	bottom: -12px;
	left: 50%;
	transform: translateX(-50%);
}

.input-feild{
	background: #eaeaea;
	margin: 15px 0;
	border-radius: 3px;
	display: flex;
	align-items: center;
	max-height: 65px;
	transition: max-height 0.5s;
	overflow: hidden;

}

input{
	font-weight: 700;
	width: 100%;
	background: transparent;
	border: 0;
	outline: 0;
	padding: 18px 15px;
}

.input-feild i{
	margin-left: 15px;
	color: #999;

}

.btn-feild{
	width: 100%;
	display: flex;
	justify-content: space-between;

}

.btn-feild button{
	flex-basis: 48%;
	background: #3c00a0;
	color: #fff;
	height: 40px;
	border-radius:20px;
	border: 0;
	outline: 0;
	cursor: pointer;
	transition: background 1s;

}
 
  .input-group{
	height: 280px;
  }
 
  .btn-feild button.disable{
	background: #eaeaea;
	color: #555;

  }



  /* Block start */

  .card-section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 200px;
	border-radius: 30px;
  }
  
  .card {
	width: 200px;
	height: 200px;
	margin: 20px;
	border: 1px solid #6b6565;
	border-radius: 10px;
	 overflow: hidden; 
  }
  
   .card-image {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
  } 
  
  .card-content {
	padding: 20px;
  }
  
  .card-title {
	color: #eaeaea;
	font-size: 1.5rem;
	margin-bottom: 10px;

}
  
  .card-description::before {
	
	font-size: 1rem;
	line-height: 1.5;
	margin-bottom: 10px;

  }


  .card:hover {
	transform: rotateY(-180deg);
	color: #e9e1e1;
	box-shadow: 1px 2px 2px 2px #8d7373;
    height: 200px;
    transition: 800ms;
	/* visibility: visible; */
	cursor: pointer;
	position: relative;
    transform-style: preserve-3d;
    transition: all duration ease;
	

  }
  
  .card-link {
	display: inline-block;
	padding: 10px 20px;
	background-color: #333;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
  }
  

  .containe{

  }
  .name12{
	color: #f5f1f1;
  }